@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/container.css");
@import url("styles/card.css");
@import url("styles/cliente.css");
@import url("styles/fotocard.css");
@import url("styles/footer.css");


:root {
    --cor-de-fundo: #3ebfff;
    --cor-de-fundo-footer: #90d4c5;
    --cor-fonte-titulo: #222e3a; 
    --cor-fonte-texto: #8a8790;
    --cor-fonte-header: #ffffff;
    --cor-fonte-footer: #286f5f;
    --cor-titulo-card-verde: #1f5347;
    --cor-titulo-card-azul: #1b4e69;
    --cor-texto-card-verde: #3a7466;
    --cor-texto-card-azul: #1d698b;
    --cor-texto-footer: #428677;
    --cor-titulo-cliente: #b4b3b4;
    --fonte-principal: "Calistoga";
    --fonte-paragrafo: "Open Sans";
}