@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/main.css");


:root {
    --cor-de-fundo: #3ebfff;
    --cor-fonte-titulo: #222e3a; 
    --cor-fonte-texto: #8a8790;
    --cor-fonte-header: #ffffff;
    --fonte-principal: "Calistoga";
    --fonte-paragrafo: "Open Sans";
}