
.card__container {
    display: flex;
}

.card__container-verde {
    background-image: url('../img/image-graphic-design.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 50%;
    height: 678.75px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__container-azul {
    background-image: url('../img/image-photography.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 50%;
    height: 678.75px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__titulo-verde {
    font-family: var(--fonte-principal);
    font-size: 30px;
    color: var(--cor-titulo-card-verde);
    padding-top: 45%;
}

.card__titulo-azul {
    font-family: var(--fonte-principal);
    font-size: 30px;
    color: var(--cor-titulo-card-azul);
    padding-top: 45%;
}

.card__conteudo-verde {
    font-family: var(--fonte-paragrafo);
    font-size: 20px;
    color: var(--cor-texto-card-verde);
    padding-top: 3em;
    width: 450px;
    text-align: center;
    font-weight: bold;
    line-height: 1.75em;
}

.card__conteudo-azul {
    font-family: var(--fonte-paragrafo);
    font-size: 20px;
    color: var(--cor-texto-card-azul);
    padding-top: 3em;
    width: 450px;
    text-align: center;
    font-weight: bold;
    line-height: 1.75em;
}


